<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img src="/images/logo.png" alt="Shape Your Life" height="50" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Programs
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/events-and-webinars.html"
                  >Events & Webinar</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/mentorship-and-bootcamps.html"
                  >Mentorship & Bootcamps</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Scholarships & Funding
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/scholarships-and-funding.html"
                  >All Fundings</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/publications.html">Publications</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              More
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://www.instagram.com/shapeyourlife.id"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://www.tiktok.com/@shapeyourlife.id"
                  >TikTok</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  href="https://www.linkedin.com/company/shape-your-life-id"
                  >LinkedIn</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
