<div class="col mb-4">
  <div class="card rounded-4 h-100 overflow-hidden border-0 shadow-sm">
    <img class="card-img-top team__photo" />
    <div class="card-body">
      <h3
        class="card-title fw-bold text-dark-blue team__name"
        style="font-size: 30px"
      ></h3>
      <p class="card-text mb-4 team__desc"></p>
    </div>
    <div
      class="card-footer d-flex justify-content-between text-body-secondary py-3"
    >
      <div class="team__position"></div>
      <div class="team__level"></div>
    </div>
  </div>
</div>
