.all-fundings {
  padding: 50px 0;

  .search-fundings {
    width: 100%;
    color: $syl-blue-dark;
    border-color: $syl-blue-dark;

    @media (min-width: 992px) {
      width: 300px;
    }
  }

  &__filter {
    width: 300px;
    background-color: $syl-white;
    border-radius: 15px;
    padding: 10px 18px;
    height: fit-content;

    .accordion {
      --bs-accordion-btn-icon-width: 16px;

      &-item {
        border: 0;
        padding: 10px 0;

        &:not(:last-child) {
          border-bottom: 1px solid #a6cbe2;
        }
      }
      &-button {
        padding: 0;
        box-shadow: none;
        background-color: $syl-white;
        color: $syl-blue-dark;
        font-size: 18px;
        font-weight: 600;

        &::after {
          color: red;
        }
      }
      &-body {
        padding: 10px 0 0;
      }

      .form-check {
        span:last-child {
          color: rgba($syl-body, 0.5);
        }

        &-input:checked {
          background-color: $syl-blue-dark;
          border-color: $syl-blue-dark;
        }

        .child-checks {
          padding: 8px 0;
        }
      }
    }
  }

  &__main {
    flex: 1;

    .card-title {
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .card-footer {
      color: $syl-body !important;
    }
  }
}
