.syl-contents-and-publication {
  padding: 50px 0;
  background-color: #f3e593;
}

.side-by-side {
  .card {
    .card-title {
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .card img {
    max-height: 300px;
    object-fit: cover;
    object-position: top;

    @media (min-width: 992px) {
      max-height: 190px;
    }

    @media (min-width: 1200px) {
      max-height: 230px;
    }

    @media (min-width: 1400px) {
      max-height: 271px;
    }
  }
  // .card,
  // .card img {
  // max-height: 190px;

  // @media (min-width: 1200px) {
  //   max-height: 230px;
  // }

  // @media (min-width: 1400px) {
  //   max-height: 271px;
  // }
  // }
}
