.syl-contents-and-publication {
  padding: 50px 0;
  background-color: #f3e593;
}

.side-by-side {
  .card {
    .card-title {
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .card,
  .card img {
    max-height: 190px;

    @media (min-width: 1200px) {
      max-height: 230px;
    }

    @media (min-width: 1400px) {
      max-height: 271px;
    }
  }
}

// ------------------------------------------
// ------------ QUERY RESPONSIVE ------------
// ------------------------------------------
// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {}
// ------------------------------------------

// .side-by-side {
//   display: flex;
//   gap: 10px;
// }

// .side-content {
//   display: flex;
//   flex-direction: column;
//   width: 621px;
//   height: 273px;
// }

// .text-content {
//   padding: 10px;
// }

// .text-content h3 {
//   font-size: 1.2em;
//   margin-bottom: 5px;
//   font-family: 'Poppins';
//   font-weight: '600px';
// }

// .text-content p {
//   font-size: 0.9em;
//   font-size: 13px;
// }

// .date {
//   font-size: 0.8em;
//   color: gray;
// }
// .content-item {
//   display: flex;
//   margin-left: 150px;
//   margin-top: -5px;
//   margin-right: -20px;
//   background-color: #f5f5f5;
//   border-radius: 10px;
//   overflow: hidden;
// }
// .syl-contents-and-publication .card-img-top {
//   width: 600px;
//   height: 650px;
//   object-fit: cover;
//   margin-left: -20px;
//   margin-top: -20px;
// }

// .syl-contents-and-publication .kartini-img {
//   position: relative;
//   left: -10px; /* Adjust the value as needed */
// }

// .event-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-family: 'Poppins'; /* Change this to your desired font */
// }
// .event-date,
// .event-name {
//   font-size: 18px; /* Adjust the font size as needed */
//   color: #253058;
// }
// .event-date {
//   font-size: 16px; /* Medium font weight */
//   line-height: 130px;
// }

// .event-name {
//   font-weight: 600; /* Semi-bold font weight */
//   margin-right: 20px;
// }

// .title-text {
//   font-size: 60px;
//   font-family: 'Poppins';
//   font-weight: 600;
//   color: #3c4d8e;
//   line-height: 55px;
// }

// .container {
//   max-width: 1200px;
//   margin: auto;
// }

// .btn-blue-dark {
//   background-color: #3c4d8e;
//   color: white;
//   text-decoration: none;
// }

// .programs {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }

// .main-program-container {
//   display: flex;
//   gap: 20px;
// }

// .main-program {
//   display: flex;
//   background-color: #fff;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
//   width: 800px;
//   height: 430px;
// }

// .main-program img {
//   width: 403px;
//   height: 403px;
//   object-fit: cover;
// }

// .main-program-info {
//   padding: 20px;
//   flex: 1;
// }

// .mentorship-program {
//   background-color: #fff;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   padding: 20px;
//   width: 300px;
//   height: 200px;
//   display: flex;
//   flex-direction: column;
// }

// .mentorship-program h3 {
//   margin-top: 0;
//   font-size: 18px;
//   color: #333;
// }

// .mentorship-program p {
//   font-size: 14px;
//   color: #999;
//   line-height: 120px;
// }

// .other-programs {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }

// .program {
//   background-color: #fff;
//   border-radius: 10px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   padding: 20px;
// }

// .program h3 {
//   margin-top: 0;
//   font-size: 18px;
//   color: #333;
// }

// .program p {
//   font-size: 14px;
//   color: #999;
// }
