.syl-programs-section {
  padding: 50px 0;
  background-color: #f3e593;

  .main-program img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;

    @media (min-width: 1200px) {
      width: auto;
      // height: 380px;
    }
  }
}
