.syl-relatedpublications-section {
  padding: 50px 0;
  background-color: #f7eeb8;
}
.syl-relatedpublications-section .main-program img {
  width: 100%;
}
@media (min-width: 1200px) {
  .syl-relatedpublications-section .main-program img {
    width: auto;
    height: 380px;
  }
}

.syl-highlights-section {
  padding: 50px 0;
  background-color: #f7eeb8;
}
.syl-highlights-section .main-program img {
  width: 100%;
}
@media (min-width: 1200px) {
  .syl-highlights-section .main-program img {
    width: auto;
    height: 380px;
  }
}
.syl-highlights-section .card-title {
  margin-top: 5px;
  overflow-wrap: break-word;
  display: block;
}
.syl-highlights-section .card-text {
  margin-bottom: 40px;
  font-size: 15px;
}
.syl-highlights-section .card-footer {
  color: #253058 !important;
}

.syl-team-section {
  padding: 50px 0;
  background-color: #f7eeb8;
}
.syl-team-section .main-program img {
  width: 100%;
}
@media (min-width: 1200px) {
  .syl-team-section .main-program img {
    width: auto;
    height: 380px;
  }
}
.syl-team-section .card-title {
  margin-top: 0px;
  overflow-wrap: break-word;
  display: block;
}
.syl-team-section .card-text {
  margin-bottom: 40px;
  font-size: 17px;
}
.syl-team-section .card-footer {
  color: #253058 !important;
}
