.box-problem {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 40px 0 40px 0;
}

.box-problem2 {
  padding: 10px 10px 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f7eeb8;
  border-radius: 10px;
  width: fit-content;
  align-items: center;
  color: #3c4d8e;
}

.box-problem2 h1 {
  font-weight: 550;
  font-family: 'Poppins', sans-serif;
}

.desc-problem {
  font-size: 1rem;
  color: #253058;
  padding: 10px 0 0 5px;
}

.problem-image {
  border-radius: 15px;
  width: 450px;
  height: auto;
}
