.btn {
  &.btn-yellow {
    --bs-btn-color: #{$syl-body};
    --bs-btn-bg: #{$syl-yellow-default};
    --bs-btn-border-color: #{$syl-yellow-default};
    --bs-btn-hover-color: #{$syl-body};
    --bs-btn-hover-bg: #{darken($syl-yellow-default, 5%)};
    --bs-btn-hover-border-color: #{darken($syl-yellow-default, 5%)};
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #{$syl-body};
    --bs-btn-active-bg: #{darken($syl-yellow-default, 8%)};
    --bs-btn-active-border-color: #{darken($syl-yellow-default, 8%)};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #{$syl-body};
    --bs-btn-disabled-bg: #{$syl-yellow-default};
    --bs-btn-disabled-border-color: #{$syl-yellow-default};
  }
}
